{% extends 'base.html' %}

{% block title %}

  Index page

{% endblock %}

{% block content_title %}
  Main page
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>


<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>


<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>


<p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
</div>

{% endblock %}
